.about {
  padding:62px 0;
}

.about__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 700px;
    margin: 0 0 24px;
}

.about__description {
  font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 700px;
    margin: 0 0 72px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 384px);
  gap:24px 32px;
}

.about__item {
  padding: 6px 6px 6px 96px;
  background-position:left;
  background-repeat:no-repeat;
  background-size:80px;
}

.about__item_top{
  background-image:url("../img/icon1.svg");
}
.about__item_master{
  background-image: url("../img/icon2.svg");
}
.about__item_garant{
  background-image: url("../img/icon3.svg");
}

.about__item-title {
  margin: 0 0 8px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.about__item-description {
    margin: 0;
    line-height: 130%;
}
@media(max-width:768px){
  .about {}
  
    .about__title {}
  
    .about__description {}
  
    .about__list {}
  
    .about__item {}
  
    .about__item-title {}
  
    .about__item-description {}
}
@media(max-width:560px) {
  .about {}

  .about__title {}

  .about__description {}

  .about__list {}

  .about__item {}

  .about__item-title {}

  .about__item-description {}
}
@media(max-width:320px) {
  .about {}

  .about__title {}

  .about__description {}

  .about__list {}

  .about__item {}

  .about__item-title {}

  .about__item-description {}
}