.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.navigation_link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}